body {
    font-size: 18px;
}

header {
    background-color: greenyellow;
}

footer p {
    background-color: greenyellow;
    color: purple;
}

.site-title
{
    color: purple;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: #ccc;
}

a:link {
    color:red;
    border: 1px solid blue;
    background-color: rgb(0, 244, 73);
    text-decoration: none;
}

a:visited {
    color:coral;
    border: 1px solid rgb(243, 109, 0);
}

a:hover {
    text-decoration: none;
    background-color: blueviolet;
}
a:active {
    color:white;
}
