* {
    box-sizing: border-box;
}

a:link {
    color:black;
    text-decoration: none;
}

a:visited {
    color:black;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .centered {
    position: absolute;
    top:  200%;
    left: 200%;
    transform: translate(-50%, -50%);
  }
  

body {
    font-family: Arial, Helvetica;
    line-height: 1.3;
    background-color: #aad4cf;
}

.wrapper {
    max-width: 680px;
    margin: 2rem auto;
    background-color:white;
    border-radius: 10px;
    padding: 1rem;
}

h1 {
    text-align: center
}

h4 {
    font-size: 20px;
}

img {
    float: left;
    padding: 10px;
  }

  .container{
    width: 500px;
    margin: 0 auto;
  }

  nav li {
    display: inline-block;
    padding: 0 90px;
    width: 150px;
    font-size: large;
}

.info {
    border: 1px solid black;
}

.facts-starfish
{
    text-align: left;
}

.overlay-text {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    color: #fff; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

footer {
    text-align: right;
}

