.container {
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 760px) {
    .grid {
    grid-template-columns: 1fr 1fr;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h1, h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #C78D06;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C78D06;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

nav {
    background-color: #222;
    color: white;
    padding: 10.5px
}

nav ul {
    color: white;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

special-list {
    color: white;
}

nav ul li {
    color: white;
    margin-bottom: 10;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
}


.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
}

.search-box input [type="text"]{
    width: 500px;
    padding: 10px;
    border: 1px solid #222;
    border-radius: 5px;
}

.search-box button {
    background-color: #C78D06;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.search-box button img {
    width: 20px;
}

header {
    background-color: #C78D06;
    padding: 100px 0;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

  footer {
    background-color: #222;
    color: #C78D06;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }